{% extends 'layout.html.twig' %}

{% block title %}
  Imeet | Take the control !
{% endblock %}

{% block body %}
  <div class="landing-top"></div>
  <div class="landing-intro my-5">
    <h1>
      take the control
    </h1>
    <div class="row justify-content-around">
      <div class="col-12 col-md-5 text-center d-flex justify-content-center align-items-center">
        <div>
          <h3>
            La gestion des billets pour tous types d'événements
          </h3>
          <p class="mb-4">
            Que vous organisiez des concerts, des conférences, des spectacles sportifs ou tout autre événement, notre application vous offre les outils nécessaires pour garantir une expérience sans faille à vos participants.
          </p>
          <a href="" class="btn btn-outline-danger">Je choisis ma formule</a>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="{{ asset('build/images/b73e62da299075cc73f9c02dc081804a.png' ) }}" class="landing-intro-img" alt="image" />
      </div>
    </div>
  </div>
  <div class="fixed-background"></div>
  <div class="landing-products">
    <h2>Nos formules</h2>
    <div class="row justify-content-center">
      <div class="col">
        {% include './elements/productCard.html.twig' %}
      </div>
      <div class="col">
        {% include './elements/productCard.html.twig' %}
      </div>
      <div class="col">
        {% include './elements/productCard.html.twig' %}
      </div>
    </div>
  </div>
  <div class="row landing-prevew_one">
    <div class="col-6 image-zone"></div>
    <div class="col-6 text-zone text-center d-flex justify-content-center align-items-center">
      <div>
        <h3>Gestion des participants</h3>
        <p>
          Suivez facilement les inscriptions, gérez les informations des participants et communiquez avec eux pour garantir une expérience optimale avant, pendant et après l'événement.
        </p>
      </div>
    </div>
  </div>
  <div class="row landing-prevew_two">
    <div class="col-6 text-zone text-center d-flex justify-content-center align-items-center">
      <div>
        <h3>Analyse et rapports</h3>
        <p>
          Accédez à des données en temps réel sur les billets, suivez les tendances, générez des rapports détaillés et tirez des insights pour optimiser vos stratégies de vente.
        </p>
      </div>
    </div>
    <div class="col-6 image-zone"></div>
  </div>
  <div class="row landing-prevew_three">
    <div class="col-6 image-zone"></div>
    <div class="col-6 text-zone d-flex justify-content-center align-items-center">
      <div>
        <h3>Avantages</h3>
        <ul>
          <li><p><b>Facilité d'utilisation : </b>Interface intuitive pour une navigation aisée.</p></li>
          <li><p><b>Flexibilité : </b>Adaptable à tout type d'événement et de taille.</p></li>
          <li><p><b>Sécurité : </b>Protocoles de sécurité avancés pour des transactions sûres.</p></li>
          <li><p><b>Support client : </b>Une équipe dédiée pour répondre à vos besoins.</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <h3>Pourquoi choisir notre solution ?</h3>
    <p>Notre application se distingue par sa simplicité, sa flexibilité et son engagement envers la réussite de votre événement.</p>
    <p>Avec une approche centrée sur l'utilisateur et des fonctionnalités avancées, nous nous engageons à être le partenaire idéal pour la gestion de vos billets, vous permettant ainsi de vous concentrer sur la réalisation d'un événement inoubliable.</p>
  </div>
{% endblock %}
