{% extends 'layout.html.twig' %}

{% block title %}
  Tiiix | Take control !
{% endblock %}

{% block body %}
  <div class="landing-top">
    <div class="scroller">
      <span>
        Concerts<br/>
        Anniversaires<br/>
        Activités professionnelles<br/>
        Événements sportifs
      </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="landing-intro my-5">
      <h1>
        take control
      </h1>
      <div class="row justify-content-around">
        <div class="col-12 col-md-4 text-center d-flex justify-content-center align-items-center">
          <div>
            <h2>
              La gestion de billets pour tous types d'événements
            </h2>
          </div>
        </div>
        <div class="col-12 col-md-3 text-center">
          <img src="{{ asset('build/images/tiiix_m_qr.png' ) }}" class="landing-intro-img" alt="image" />
        </div>
        <div class="col-12 col-md-4 text-center d-flex justify-content-center align-items-center">
          <div>
            <p class="mb-4">
              Que vous organisiez des concerts, des conférences, des spectacles sportifs ou tout autre événement, notre application vous offre les outils nécessaires pour garantir une expérience sans faille à vos participants.
            </p>
            <a href="#price-section" class="btn btn-outline-danger choose-btn">Je choisis ma formule</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row landing-prevew">
      <div class="col-12 col-md-6 image-zone">
        <img src="{{ asset('build/images/people-2589091_1280.jpg' ) }}" alt="image" />
      </div>
      <div class="col-12 col-md-6 text-zone text-center d-flex justify-content-center align-items-center">
        <div>
          <h3>Gestion des participants</h3>
          <p>
            Suivez facilement les inscriptions, gérez les informations des participants et communiquez avec eux pour garantir une expérience optimale avant, pendant et après l'événement.
          </p>
        </div>
      </div>
    </div>
    <div class="row landing-prevew">
      <div class="col-12 col-md-6 text-zone text-center d-flex justify-content-center align-items-center">
        <div>
          <h3>Analyse et rapports</h3>
          <p>
            Accédez à des données en temps réel sur les billets, suivez les tendances, générez des rapports détaillés et tirez des insights pour optimiser vos stratégies de vente.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 image-zone">
        <img src="{{ asset('build/images/cupcakes-380178_1280.jpg' ) }}" alt="image" />
      </div>
    </div>
    <div class="row landing-prevew">
      <div class="col-12 col-md-6 image-zone">
        <img src="{{ asset('build/images/coffee-break-1177540_1280.jpg' ) }}" alt="image" />
      </div>
      <div class="col-12 col-md-6 text-zone d-flex justify-content-center align-items-center">
        <div>
          <h3>Avantages</h3>
          <ul>
            <li><p><b>Facilité d'utilisation : </b>Interface intuitive pour une navigation aisée.</p></li>
            <li><p><b>Flexibilité : </b>Adaptable à tout type d'événement et de taille.</p></li>
            <li><p><b>Sécurité : </b>Protocoles de sécurité avancés pour des transactions sûres.</p></li>
            <li><p><b>Support client : </b>Une équipe dédiée pour répondre à vos besoins.</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="price-section" class="landing-products">
      <h2>Nos formules</h2>
      <div class="row justify-content-center d-none d-md-flex">
        {% for product in products %}
          <div class="col">
            {% include './elements/_product_card.html.twig' with {'product': product} %}
          </div>
        {% endfor %}
      </div>


      <div id="carouselExampleIndicators" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for product in products %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
              {% include './elements/_product_card.html.twig' with {'product': product} %}
            </div>
          {% endfor %}
        </div>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </div>
  </div>
  <div class="fixed-background"></div>
  <div class="landing-tips">
    <div class="container row justify-content-around align-items-center">
      <div class="col-12 col-md-4 text-center">
        <i class="far fa-lightbulb"></i>
        <h3>Une petite astuce ?</h3>
      </div>
      <div class="col-12 col-md-6">
        <p>Préventes, espace VIP, multi-événements, notre solution peut également être l'outil complémentaire pour votre événement.</p>
        <p>L'organisation et la gestion sont souvent accompagnées d'imprévus.</p>
        <p><b>Un besoin de dernière minute ?</b></p>
        <p>Avec Tiiix, créez et profitez de vos billets facilement depuis votre appareil préféré.</p>
      </div>
    </div>
  </div>
  <div class="container landing-choose">
    <h3>Pourquoi choisir notre solution ?</h3>
    <p>Notre application se distingue par sa simplicité, sa flexibilité et son engagement envers la réussite de votre événement.</p>
    <p>Avec une approche centrée sur l'utilisateur et des fonctionnalités avancées, nous nous engageons à être le partenaire idéal pour la gestion de vos billets, vous permettant ainsi de vous concentrer sur la réalisation d'un événement inoubliable.</p>
    <p>Nécessitant aucun appareil additionnel, scannez et gérez simplement les tickets depuis votre smartphone.</p>
  </div>
{% endblock %}
