{% extends 'layout.html.twig' %}

{% block title %}Conditions générales de vente
{% endblock %}

{% block body %}
    <div class="product-banner"></div>
	<div class="container legal">
		<div class="white-block">
			<h2 class="text-center mb-5">Conditions générales de vente</h2>
			<h3>Article 1 : Champ d'application</h3>
            <p>Les présentes conditions générales de vente régissent les ventes, par Tiiix, des produits et/ou services proposés sur le site marchand de la société Tiiix et accessible à l'adresse <a href="https://tiiix.fr" target="_blank">tiiix.fr</a>. Les conditions générales pouvant faire l'objet de modifications, les internautes sont invités à les consulter régulièrement ainsi qu'à les imprimer.</p>
            <h3>Article 2 : Identité du fournisseur</h3>
            <p>Les produits et/ou services disponibles sur le site sont fournis par Tiiix.</p>
            <h3>Article 3 : Prix des produits et/ou services disponibles sur le site</h3>
            <p>Les prix des produits et/ou services proposés sur le site sont indiqués en euros dans la fiche produit de chaque bien et/ou service. Toutes commande, quelle qu'en soit la provenance, est payable en euros. Les prix sont indiqués toutes taxes comprises (TTC). Les prix sont valables tant qu'ils sont visibles sur le site. Tiiix se réserve le droit de modifier ses prix à tout moment, mais les produits et/ou services sont facturés sur la base des tarifs en vigueur au moment de l'enregistrement de la commande. Le transfert de propriété s'effectue à la date du règlement complet par le client.</p>
			<h3>Article 4 : Caractéristiques des produits et/ou services disponibles sur le site</h3>
			<p>Les caractéristiques essentielles des produits et/ou services disponibles sur le site sont indiquées sur chaque fiche produit.</p>
			<h3>Article 5 : Passation de la commande</h3>
			<p>La commande s'effectue en ligne par la saisie des données demandées sur le site. La passation d'une commande nécessite que le client dispose d'une boîte à lettre électronique d'envoi et de réception en bon état de fonctionnement. Tiiix adresse au client la confirmation de sa commande par l'envoi d'un accusé de réception électronique à l'adresse mentionnée par le client lors de sa commande. Cet accusé de réception électronique rappelle au client :</p>
			<ul>
				<li>l'identité du fournisseur,</li>
				<li>le code de la commande,</li>
				<li>les coordonnées du service clientèle,</li>
				<li>le prix toutes taxes comprises (TTC).</li>
			</ul>
			<h3>Article 6 : Paiement</h3>
			<p>Le paiement s'effectue par carte bancaire. Notre site fait l'objet d'un système de sécurisation visant à protéger le plus efficacement possible toutes les données sensibles liées aux moyens de paiement. Les données bancaires sont ainsi transmises une seule fois lors du paiement en ligne par carte bleue. Cette transmission est effectuée de façon sécurisée, grâce à un cryptage des données par la technologie SSL (Secure Socket Layer). Ainsi toutes les données personnelles qui sont indispensables pour effectuer l'achat sont brouillées instantanément et il est alors impossible de les lire lors de leur passage sur le réseau. La confirmation de la transmission sécurisée est dans l'URL (l'adresse de la page en haut du navigateur) qui commence par "https" au lieu de "http" ; le 's' supplémentaire montre qu'il s'agit d'une page sécurisée.</p>
			<h3>Article 7 : Modalités de livraison</h3>
			<p>Les produits et/ou services sont disponibles dès la confirmation de commande. Un email de confirmation est délivré à l'adresse éléctronique indiquée par le client lors de sa commande.</p>
			<h3>Article 8 : Service Clientèle</h3>
			<p>Notre service client est à votre disposition pour tout renseignement ou question. Afin de vous apporter une réponse la plus efficace possible, vos nom et adresse postale, voire votre numéro de commande nous seront utiles pour retrouver votre commande.</p>
			<p><em>Courriel : </em><a href="mailto:contact@tiiix.fr">contact@tiiix.fr</a></p>
			<h3>Article 10 : Droit de rétractation</h3>
			<p>Le client dispose d'un délai de 14 jours francs pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à payer de pénalités. Ce délai commence à compter du lendemain de la réception par le client du produit commandé, et à compter du lendemain de la passation de la commande par le client. Pour pouvoir être en mesure de bénéficier de son droit de rétractation, le client doit prendre en compte cette periode au moment de la commande et choisir une date de début de sérvice supérieure au délai légal.</p>
			<p>Lorsque ce délai expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au jour ouvrable suivant. Le client qui exerce son droit de rétractation, conformément au présent article, est remboursé au plus tard dans les 30 jours suivant la date à laquelle ce droit a été exercé. Le droit de rétractation ne peut être exercé dans le cas de services déjà consommés par le client.</p>
		</div>
	</div>
{% endblock %}