{% extends 'layout.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="login">
        <div class="container row justify-content-center">
            <div class="login-form col-12 col-md-8">
                {% if error %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email">
                    </div>
                    
                    <div>
                        <input type="password" id="password" name="_password" placeholder="Mot de passe">
                    </div>

                    {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"> #}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-danger">Connexion</button>
                    <button type="submit" class="btn btn-outline-danger">Pas encore inscrit ? Créer mon compte</button>
                </form>
            </div>
        </div>
		
    </div>
{% endblock %}
