{% extends 'layout.html.twig' %}

{% block title %}
  Products
{% endblock %}

{% block body %}
  <div class="product-banner"></div>
  {% include './elements/breadcrumb2Lev.html.twig' with {'lev2Name': 'Produits'} %}
  <div class="product-offer">
    <div class="container">
      <div class="row">
        {% for product in products %}
          <div class="col-12 col-md-4">
            {% include './elements/verticalProduct.html.twig' with {'product': product} %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
