<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{{ lev2Path }}">{{ lev2Name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ lev3Name }}</li>
    </ol>
  </nav>
</div>
