<div class="card" style="width: 18rem;">
  <div class="card-top">
    <span>Starter</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      19<sup>€99</sup>
    </h5>
    <ul class="product-details">
      <li>10 tickets</li>
      <li>E-tickets (QR code)</li>
      <li>Platforme d'identification</li>
      <li>Accès au service statistiques</li>
    </ul>
    <div class="w-100 text-center">
      <a href="{{ path('app_order_recap') }}" class="btn btn-danger btn-lg">Commander</a>
      <div class="mt-2">
        <a href="{{ path('app_product_show') }}" class="text-danger text-decoration-none">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
