{% set value = step == 1 ? 0 : step == 2 ? 50 : 100 %}

<div class="steps">
    <progress id="progress" value="{{ value }}" max=100></progress>
    <div class="step-item">
        <button class="step-button text-center {{ step >= 1 ? 'done' : '' }}" type="button"><i class="fas fa-shopping-cart"></i></button>
        <div class="step-title">
            Commande
        </div>
    </div>
    <div class="step-item">
        <button class="step-button text-center {{ step >= 2 ? 'done' : '' }}" type="button"><i class="fas fa-user"></i></button>
        <div class="step-title">
            Adresse
        </div>
    </div>
    <div class="step-item">
        <button class="step-button text-center {{ step == 3 ? 'done' : '' }}" type="button"><i class="fas fa-check"></i></button>
        <div class="step-title">
            Finalisation
        </div>
    </div>
</div>