{% include './preFooter.html.twig' %}
<div class="footer">
  <div class="row">
    <div class="col footer-logo">
      <img src="{{ asset('build/logos/imeet.png') }}" alt="image" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>
        Imeet
      </h3>
    </div>
  </div>
</div>
