{% include './pre_footer.html.twig' %}
<div class="footer">
  <div class="row">
    <div class="col footer-logo">
      <img src="{{ asset('build/logos/imeet.png') }}" alt="image" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>
        Tiiix
      </h3>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="{{ path('app_product_index') }}">Nos produits</a>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="{{ path('app_user_dashboard') }}">Mon espace client</a>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="">CGU</a>
    </div>
    <div class="col-12 col-md footer-link">
      <a href="">Mentions légales</a>
    </div>
    <div class="col-12 col-md footer-link">
      <a href="">Nous contacter</a>
    </div>
  </div>
</div>
