<div class="pre-footer-container">
    <div class="container">
        <div class="row pre-footer">
            <div class="col-12 col-md-4">
                <h5>Paiement sécurisé</h5>
                {{ ux_icon('ri:secure-payment-fill') }}
                </div>
            <div class="col-12 col-md-4">
                <h5>Tickets disponibles instantanément</h5>
                {{ ux_icon('icon-park-solid:tickets-two') }}
                </div>
            <div class="col-12 col-md-4">
                <h5>Service client 7/7 j</h5>
                {{ ux_icon('gridicons:chat') }}
            </div>
        </div>
    </div>
</div>