<div class="pre-footer row">
    <div class="col-12 col-md-4"><h5>Paiement sécurisé</h5></div>
    <div class="col-12 col-md-4"><h5>Tickets disponibles instantanément</h5></div>
    <div class="col-12 col-md-4"><h5>Service client 7/7 j</h5></div>
</div>