<div class="pre-footer row">
    <div class="col-12 col-md-4">
        <h5>Paiement sécurisé</h5>
        <i class="fas fa-shield-alt"></i>
        </div>
    <div class="col-12 col-md-4">
        <h5>Tickets disponibles instantanément</h5>
        <i class="fas fa-ticket-alt"></i>
        </div>
    <div class="col-12 col-md-4">
        <h5>Service client 7/7 j</h5>
        <i class="far fa-comments"></i>
        </div>
</div>