{% extends 'layout.html.twig' %}

{% block title %}
  Tiiix | Commande {{ product.name }}
{% endblock %}

{% block body %}
    <div class="order-product container">
        {% include './elements/stepper.html.twig' with {step: 3} %}
      <div class="order-recap">
        <h3>Merci pour votre commande !</h3>
        <p>Votre commande est validée. Elle porte le numéro <b>{{ orderNumber|upper }}</b>.</p>
        <h4>Et maintenant :</h4>
        <ul>
            <li>Créez ou accédez à votre espace client</li>
            <li>Récéptionnez vos billets</li>
            <li>Préparez votre événement avec plus de simplicité</li>
        </ul>
      </div>
    </div>
{% endblock %}