{% extends 'layout.html.twig' %}

{% block title %}
  Tiiix | {{ user.fullName }}
{% endblock %}

{% block body %}
  <div class="order-product container dashboard">
    <div class="order-recap">
      <div class="d-flex">
        <div class="w-50">
          <h4 class="mb-5">{{ user.fullName }}</h4>
        </div>
        <div class="text-end w-50">
          <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{{ path('app_logout') }}">
            Me déconnecter
          </a>
        </div>
      </div>
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          <div class="col-12 alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endfor %}
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-informations-tab" data-bs-toggle="pill" data-bs-target="#pills-informations" type="button" role="tab" aria-controls="pills-informations" aria-selected="true">Mes informations personnelles</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders" type="button" role="tab" aria-controls="pills-orders" aria-selected="false">Mes commandes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events" type="button" role="tab" aria-controls="pills-events" aria-selected="false">Mes événements</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        {% include('./user/partials/_informations.html.twig') %}
        {% include('./user/partials/_orders.html.twig') %}
        {% include('./user/partials/_events.html.twig') %}
      </div>
    </div>
  </div>
{% endblock %}
