@media screen and (max-width: 667px) {
    .dashboard {
        .tab-content {
            form {
                margin: 0;
            }
        }

        th {
            font-size: 10px;
        }
        
        tr {
            font-size: 9px;
        }

        td > .btn {
            font-size: 10px;
            padding: 10px 15px;
        }

        li {
            width: 100%;
        }
    }
}