h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 6vw;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 30px;
}

h5 {
    font-family: 'Anton', sans-serif;
}

p, table {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

a,
input,
small {
    font-family: 'Quicksand', sans-serif;
}

label a {
    text-decoration: none;
}

.btn {
    font-family: 'Anton', sans-serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    border-radius: 0;
}

.row {
    max-width: 100%;
}

.breadcrumb {
    padding-top: 30px;

    a {
        color: $red;
        text-decoration: none;
    }
}

.box-shadow {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

tr, td {
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: rgba(220, 53, 69, .8);
}

.nav-link {
    color: black;
}

.nav-link:hover {
    border: 1px solid rgba(220, 53, 69, .3);
    transition: none;
    color: black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(220, 53, 69, .3);
}

input:not([type="submit"]):not([type="checkbox"]) {
    line-height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(229, 229, 229, 1);
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 20px;
    border: 1px solid #efefef;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(220, 53, 69, .8);
    border-radius: 10px !important;
}

html::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

.test-mode {
    color: #eb34a4;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    animation: flashes 2s infinite;
}

@keyframes flashes {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }