.landing-top {
    height: 800px;
    background-image: url(../../static/images/music-7238254_1280.jpg);
    background-size: cover;
    position: relative;
    .scroller {
        position: absolute;
        top: 50vh;
        left: 50px;
        height: 5.6em;
        line-height: 7em;
        position: relative;
        overflow: hidden;
        width: 50em;
    }
    .scroller > span {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vw;
        color: white;
        position: absolute;
        top: 0;
        animation: slide 7s infinite;
        font-weight: bold;
    }
}

.landing-intro-img {
    max-height: 500px;
    width: auto;
}

.fixed-background {
    height: 400px;
    background-image: url(../../static/images/audience-1850119_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.landing-products {
    padding: 100px 0;
}

.landing-prevew {
    &_one {
        .image-zone {
            background-image: url(../../static/images/people-2589091_1280.jpg);
            background-size: cover;
            height: 500px;
        }
    }
    &_two {
        .image-zone {
            background-image: url(../../static/images/cupcakes-380178_1280.jpg);
            background-size: cover;
            height: 500px;
        }
    }
    &_three {
        .image-zone {
            background-image: url(../../static/images/coffee-break-1177540_1280.jpg);
            background-size: cover;
            height: 500px;
        }
    }
}

@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -2em;
    }
    50% {
      top: -3.8em;
    }
    75% {
      top: -5.6em;
    }
}