.landing-top {
    height: 90vh;
    background-image: url(../../static/images/music-7238254_1280.jpg);
    background-size: cover;
    position: relative;

    .scroller {
        position: absolute;
        top: 50vh;
        left: 50px;
        height: 85px;
        line-height: 7.2em;
        position: relative;
        overflow: hidden;
        width: 50vw;
    }

    .scroller>span {
        font-family: 'Quicksand', sans-serif;
        font-size: 65px;
        color: white;
        position: absolute;
        top: 0;
        animation: slide 6.5s infinite;
        font-weight: bold;
    }
}

.landing-intro-img {
    max-height: 500px;
    width: auto;
}

.fixed-background {
    height: 400px;
    background-image: url(../../static/images/audience-1850119_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.landing-products {
    padding: 100px 0;
}

.landing-prevew {
    justify-content: center;
    align-items: center;
    height: 65vh;
    padding: 0 30px;

    img {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        box-shadow: 0 7px 7px grey;
    }
}

#price-section {
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a1c3c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a1c3c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-indicators {
        position: relative;

        button {
            background-color: $blue;
        }
    }
}

.landing-choose {
    padding: 60px 0;
    text-align: center;
}

.landing-tips {
    padding: 80px 0;
    margin-bottom: 40px;
    background: linear-gradient(to right, #0a1c3c, #080d16);
    color: #fff;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.6), /* Ombre en haut */
                0px 3px 10px rgba(0, 0, 0, 0.6); /* Ombre en bas */
    i {
        font-size: 60px;
        margin-bottom: 20px;
    }
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -2em;
    }

    50% {
        top: -3.8em;
    }

    75% {
        top: -5.6em;
    }
}

@media screen and (max-width: 667px) {
    .landing-top {
        height: 30vh;

        .scroller {
            position: absolute;
            top: 150px;
            left: 30px;
            height: 35px;
            line-height: 53px;
            overflow: hidden;
            width: 90vw;
        }
    
        .scroller>span {
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            color: white;
            position: absolute;
            top: 0;
            animation: slide 6s infinite;
            font-weight: bold;
        }
    }

    .choose-btn {
        margin-bottom: 30px;
    }

    .landing-intro-img {
        max-height: 350px;
        width: auto;
    }

    .landing-prevew {
        .image-zone {
            align-items: center;

            img {
                width: 70vw;
                margin-bottom: 30px;
            }
        }
    }

    #price-section {
        padding: 50px 0;

        .card {
            margin-bottom: 30px;

            .card-top {
                span {
                    font-size: 30px;
                }
            }

            .card-title {
                font-size: 40px;

                sup {
                    font-size: 20px;
                }
            }
        }
    }

    .fixed-background {
        height: 200px;
    }

    .landing-tips {
        padding: 30px 0;
    }
}