.legal {
    padding: 50px 20px;

    h3 {
        text-align: left;
    }

    a {
        color: black;
        text-decoration: none;
        
        &:hover {
            color: $red;
        }
    }
}