.navbar {
    transition: top 0.3s ease;
}

.navbar.hidden {
    top: -100px;
}

.nav-logo {
    max-width: 60px;
    height: auto;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.nav-item {
    margin: 0 10px;
}