.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
    animation: slideDown .3s ease forwards;

    .nav-logo {
        max-width: 60px;
        height: auto;

        a {
            display: flex;
            align-items: center;
            font-family: 'Anton', sans-serif;
            color: black;
            font-size: 40px;
            text-decoration: none;

            img {
                margin: 0px 10px;
            }
        }
    }

    .nav-cta a {
        font-family: 'Anton', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }

    .nav-cta-products {
        color: black;
        padding: 25px 1vw;
        transition: .2s ease-in-out;;

        &:hover {
            color: $red;
        }
    }

    .nav-cta-button {
        color: white;
        padding: 35px 4vw;
        background-color: $red;
        transition: background-color 0.3s ease;

        &:hover {
            color: white;
            background-color: $deepRed;
        }
    }
}

@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }