.numbers {
    padding: 40px 0;
    .indicator {
        border: 1px solid rgba(10, 28, 60, .2);
        box-shadow: 0px 2px 5px rgba(220, 53, 69, .3);
        border-radius: 10px;
        text-align: center;

        p {
            font-family: 'Anton', sans-serif;
            font-size: 3vw;
            color: rgba(10, 28, 60, .9);
        }

        h6 {
            font-family: 'Quicksand', sans-serif;
            font-size: 1vw;

            i {
                color: rgba(220, 53, 69, .7);
            }
        }
    }
}

@media screen and (max-width: 667px) {
    .reports {
        .row {
            display: inline !important;
        }
    }

    .numbers {
        .indicator {
            margin-bottom: 20px;

            p {
                font-size: 30px;
                margin-bottom: 10px;
            }

            h6 {
                font-size: 20px;
            }
        } 
    }
}