@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pixelify+Sans:wght@400;500;600&display=swap&family=Quicksand:wght@300&display=swap');
$red: #dc3545;
$deepRed: #c12d3a;
$blue: #0a1c3c;